src/index.pug
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Menu
	body
		button#menu-toggle.menu__toggle
			span
			span
			span
		#menu.menu(aria-expanded="false")
			.menu-wrap
				nav.menu__nav
					ul
						each value in ['Home', 'About', 'Projects', 'Contacts']
							li
								a(href="javascript:void(0);")= value
				nav.menu__sections
					ul
						each value in ['Cars', 'IT', 'Products', 'Technology', 'Tourism', 'Code', 'Music', 'Educations', 'Medicine', 'Services', 'Delivery']
							li
								a(href="javascript:void(0);")= value
						each value in ['Cars', 'IT', 'Products', 'Technology', 'Tourism', 'Code', 'Music', 'Educations', 'Medicine', 'Services', 'Delivery']
							li
								a(href="javascript:void(0);")= value
			.menu__background

dist/index.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
  <link href="main.css" rel="stylesheet"></head>
  <body>
    <button class="menu__toggle" id="menu-toggle"><span></span><span></span><span></span></button>
    <div class="menu" id="menu" aria-expanded="false">
      <div class="menu-wrap">
        <nav class="menu__nav">
          <ul>
            <li><a href="javascript:void(0);">Home</a></li>
            <li><a href="javascript:void(0);">About</a></li>
            <li><a href="javascript:void(0);">Projects</a></li>
            <li><a href="javascript:void(0);">Contacts</a></li>
          </ul>
        </nav>
        <nav class="menu__sections">
          <ul>
            <li><a href="javascript:void(0);">Cars</a></li>
            <li><a href="javascript:void(0);">IT</a></li>
            <li><a href="javascript:void(0);">Products</a></li>
            <li><a href="javascript:void(0);">Technology</a></li>
            <li><a href="javascript:void(0);">Tourism</a></li>
            <li><a href="javascript:void(0);">Code</a></li>
            <li><a href="javascript:void(0);">Music</a></li>
            <li><a href="javascript:void(0);">Educations</a></li>
            <li><a href="javascript:void(0);">Medicine</a></li>
            <li><a href="javascript:void(0);">Services</a></li>
            <li><a href="javascript:void(0);">Delivery</a></li>
            <li><a href="javascript:void(0);">Cars</a></li>
            <li><a href="javascript:void(0);">IT</a></li>
            <li><a href="javascript:void(0);">Products</a></li>
            <li><a href="javascript:void(0);">Technology</a></li>
            <li><a href="javascript:void(0);">Tourism</a></li>
            <li><a href="javascript:void(0);">Code</a></li>
            <li><a href="javascript:void(0);">Music</a></li>
            <li><a href="javascript:void(0);">Educations</a></li>
            <li><a href="javascript:void(0);">Medicine</a></li>
            <li><a href="javascript:void(0);">Services</a></li>
            <li><a href="javascript:void(0);">Delivery</a></li>
          </ul>
        </nav>
      </div>
      <div class="menu__background"></div>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
